.features {
  padding-top: 5%;
}

.features-item {
  height: 25em;
  width: auto;
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.column-1-4 {
  width: 33%;
  float: left;

}

.container:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.text-center {
  text-align: center;
}

.text-lead {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.title-medium {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 12px;
}

.container img {
  width: 100px;
  height: 100px;
}

.features {
  border-bottom: 1px solid black;
}

@media (max-width: 1000px) {
  .column-1-4 {
    float: left;
    width: 50%;
  }
}

@media (max-width: 420px) {
  .column-1-4 {
    float: none;
    width: auto;
  }
}
