.contacts_head_text {
  padding-top: 3%;
  text-align: center;
  padding-bottom: 3%;
  text-shadow: white 0 0 10px;
  color: #ffffff;
}

.contacts_button {
  text-align: center;
  font-size: 150%;
  padding-bottom: 3%;
  text-shadow: white 0 0 10px;
  color: #ffffff;
}

.contacts_button button {
  width: 300px;
  height: 100px;
  -moz-box-shadow:0 0 20px #f6f6f6;
  -webkit-box-shadow:0 0 20px #ffffff;
  box-shadow:0 0 20px #fcfcfc;
}

.contacts_form {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 3%;
}

.button-primary {
  font-size: 150%;
}

@media screen and (max-width: 650px) {
  .contacts_form {
    width: 90%;
  }
}

.contacts {
  -moz-box-shadow:0 0 20px #555;
  -webkit-box-shadow:0 0 20px #555;
  box-shadow:0 0 20px #555;
}

.form label {
  color: #FFFFFF;
}