.product_image {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: 0;
}

.intro-container {
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  background-size: cover;
  -moz-box-shadow:0 0 20px #555;
  -webkit-box-shadow:0 0 20px #555;
  box-shadow:0 0 20px #555;
}

.intro_text {
  font-size: 3em;
  text-shadow: white 0 0 10px;
  color: #ffffff;
}

.intro_head_text {
  padding-top: 5%;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .intro_text {
    font-size: 1em;
  }
}
