* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

html {
  background: linear-gradient(77deg, rgba(3,119,240,0) 62%, rgba(11,115,228,0.8827906162464986) 100%);
}

@media screen and (max-width: 650px) {
  html {
    background: linear-gradient(88deg, rgba(3,119,240,0) 62%, rgba(11,115,228,0.8827906162464986) 100%);;
  }
}
